<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="cn" connectionString="Data Source=113.161.72.212,1434;Initial Catalog=h;User ID=h;Password=h;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>